.button{
    background: $blue;
    border:none;
    color:white;
    font-weight: 300;
    font-size: $font-size-large ;
    padding:$s-size;

    display: inline-block;
    text-decoration: none;
    line-height: 1;

}


.button--categoryModal{
    height: 30px;
    padding:0.6rem;
}

.button--linkLogout{
    background: rgba(151, 149, 149, 0.171);
    color:rgb(51, 48, 48);

}

.button--buttonMainBoard{ // used at orderlistitemdeliverer
    background: rgba(151, 149, 149, 0.171);
    color:rgba(255, 255, 255, 0.747);
    margin-left: $s-size;
}

.button--selectFood{ 
    background-color: gray;
    height: 30px;
    padding:0.6rem;
}

.button--selectFood__streched{
    flex:1;
}

.button--remove{
    background-color: gray;
}
.button--closeModal{
    background-color: rgb(124, 108, 103);
    height: 30px;
    padding:0.6rem;
    flex:80%;
}

.button--selectNone{
    background-color: rgb(94, 98, 121);
    flex:20%;
    height: 30px;
    padding:0.6rem;
}

.button--view-filters{
    background-color: rgb(147, 150, 170);
    padding:0.6rem;
    margin-bottom: $s-size;
    
}

.button__splitter{
    display: flex;
    justify-content: space-between;
}


