.text-input{
    border:1px solid #cacccd;
    height: 30px;
    font-size: $font-size-large;
    font-weight: 300;
    padding:$s-size;
    flex: 1;
}

.number-input-food-list-order{
    width: 5rem
}

.number-input-discount{
    min-width: 5rem
}

.select{
    @extend .text-input;
    font-size: 100%;
    padding:0.6rem;
}


.datePicker{
    @extend .text-input;
}


.textarea{
    @extend .text-input;
    height:8rem;
}