.page-header{
    background: #e0dbdb;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.page-header__action{
    display: flex;
    margin-top:$m-size;
    flex-direction: column;
    
    p{
        margin: 0;
    }
    span{
        font-weight: 700;
    }
    @media(min-width: $desktop-breakpoint){
        flex-direction: row;
        justify-content: space-between;

    }
    
}

.page-header__date{
    margin-bottom: 0;
    color: ghostwhite;
}

.page-header__title{
    margin:0;
    font-weight: 300;
    span{
        font-weight: 700;
    }
}